.features{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel{
  background-color: white;
}

.feature{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}

.img0{
  height: 200px;
  width: auto;
}

.carouselContainer{
  padding: 10px;
  font-family: Lato ;
}

.title{
  font-size: 300%;
  text-align: center;
}

.purple{
  color: #2d2d84;
}