
.carouselElement{
  display: flex;
  flex-direction: row;
  background-color: #75daea;
  height: 100%;
}

.image{
  width: 50%;
  height: 100%;
}

.text {
  margin-top: 60px;
  font-family: Lato;
  font-size: 500%;
}

.subtext {
  margin-top: 60px;
  font-family: Lato;
  font-size: 150%;
}

.shopNowButton{
  background-color: #2d2d84;
  padding: 15px;
  border-radius: 5px;
  color:white;
  font-family: Lato;
  font-weight: bold;
  border: none;
}

.insideCarouselElement{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}