.buttomtitle{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  font-family: Lato;
  margin-bottom: 5%;
}
.body{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items:center;
}

.buttomtitlebody{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items:center;
}


.imgbuttom{
  width: 50vw;
  height: auto;
}